#header {
  background-image: linear-gradient(to bottom, white, transparent);
  height: 150px;
  position: fixed;
  width: 100%;
  z-index: 99999999999999;
}

#header h1 {
  width: 100%;
  margin: 20px;
}

#header .fetch-error {
  padding-left: 10px;
  position: absolute;
  left: 10px;
  background-color: rgb(255, 179, 179);
}